.contact-section {
  padding: 120px 20px;
  display: flex;
  justify-content: center;
  background: radial-gradient(
    circle at top,
    rgba(44, 143, 156, 0.15),
    transparent 60%
  );
}

.contact-section .contact-card {
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 40px;

  background: linear-gradient(135deg, #0f1416, #132221);
  border-radius: 35px;
  padding: 50px;

  box-shadow:
    0 0 40px rgba(44, 143, 156, 0.4),
    inset 0 0 0 1px rgba(47, 175, 143, 0.35);

  backdrop-filter: blur(14px);
}

/* FORM */
.contact-section .contact-form h2 {
  color: #e8f1ee;
  font-size: 32px;
}

.contact-section .contact-form p {
  color: #b6cfc9;
  margin-bottom: 25px;
}

.contact-section .contact-form input,
.contact-section .contact-form textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(76, 211, 162, 0.3);
  padding: 12px 5px;
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 15px;
}

.contact-section .contact-form textarea {
  resize: none;
  height: 90px;
}

.contact-section .contact-form button {
  margin-top: 10px;
  background: linear-gradient(135deg, #2C8F9C, #4cd3a2);
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  color: #08110f;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 20px #4cd3a2;
}

/* INFO */
.contact-section .contact-info h3 {
  color: #e8f1ee;
  font-size: 26px;
  margin-bottom: 15px;
}

.contact-section .contact-info p {
  color: #b6cfc9;
  margin-bottom: 30px;
}

.contact-section .info-item {
  color: #cfdad7;
  margin-bottom: 15px;
}

.contact-section .socials {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.contact-section .socials span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: rgba(76, 211, 162, 0.15);
  box-shadow: 0 0 10px rgba(76, 211, 162, 0.6);
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
 .contact-section  .contact-card {
    grid-template-columns: 1fr;
    padding: 40px 25px;
  }
}
