.roles-section {
  padding: 140px 20px;
}

.roles-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}



/* LEFT */
.roles-content h2 {
  font-size: 44px;
  color: #ffffff;
  margin: 20px 0;
}

.roles-content p {
  font-size: 16px;
  line-height: 1.7;
  color: #b7cec7;
  max-width: 460px;
}

/* RIGHT SLIDER */
.roles-slider {
  height: 360px;
  overflow: hidden;
  position: relative;
}

.roles-track {
  transition: transform 0.8s ease;
}

.role-card {
  height: 120px;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 10px;
  background: rgba(10, 20, 35, 0.9);
  box-shadow:
    inset 0 0 0 1px rgba(76, 211, 162, 0.2),
    0 10px 30px rgba(0, 0, 0, 0.4);
  opacity: 0.5;
  transition: all 0.6s ease;
}

.role-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  filter: drop-shadow(0 0 10px rgba(76, 211, 162, 0.4));
}

.role-card span {
  color: #ffffff;
  font-size: 15px;
}

/* ACTIVE */
.role-card.active {
  opacity: 1;
  transform: scale(1.05);
  box-shadow:
    0 0 30px rgba(76, 211, 162, 0.4),
    inset 0 0 0 1px rgba(76, 211, 162, 0.4);
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .roles-container {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .roles-content h2 {
    font-size: 34px;
  }
}
